body {
    background-color: #07161F;
    padding: 35px;
    font-family: 'Roboto', sans-serif;
}

header {
    font-weight: bold;
    color: #ffa000;
    padding: 10px 0px 10px 0px;
    background-color: #133C3A;
    text-align: center;
    font-size: 20px;

}

h4 {
    color: #632000;
    text-align: center;
    font-weight: bold;

}

h6 {
    color: red;
    text-align: center;
    font-weight: bold;

}

nav {
    padding: 0px 0px 0px 0px;
    background-color: #025250;
}

.menu {
    padding: 10px 0px 10px 30px;
}

.menu-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FC9F03;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.menu-button:hover {
    color: #025250;
    background-color: #FC9F03;
}

li a {
    color: #FC9F03;
}


a {
    /*font-style: italic;*/
    font-size: 12px;
    color: #025250;
    text-decoration: none;
}

.category {
    /*font-style: italic;*/
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #632000;
    text-decoration: none;
}

a.flashcard-item {
    color: #025250;
}

a.page {
    color: #025250;
}

.container {
    background-color: #FFB236;
    padding: 32px;
}

p .link {
    color: green;
}

.page-flip {
    text-align: center;
}

td {
    padding: 5px 10px 5px 10px;
    /*background-color: #ffc669;*/
}
.form-group, txtarea {
    width: 250px;
}

.form-group, p{
    color: #025250;
    font-size: 13px;
}

.tabl_item {
    font-size: 13px;
    color: #025250;
    text-decoration: none;
    /*padding: 0px 10px 0px 10px;*/

}

/*tr:nth-child(even) {*/
/*    background-color: #FFB049FF;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);*/
/*}*/

tr:nth-child(odd) {
    background-color: #ffaa36;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.fcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}