
h4 {
    color: #632000;
    text-align: center;
    font-weight: bold;
}

h6 {
    color: red;
    text-align: center;
    font-weight: bold;
}

.navbar {
    padding: 1rem 2rem 1rem 2rem;
    background: linear-gradient(188deg, rgba(255,160,14,1) 0%, rgba(255,218,116,1) 27%, rgba(255,160,14,1) 100%);
    border-bottom: 1px solid rgb(201, 201, 201);
}

.tile.is-child.box.has-background-white-ter {
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(242,242,242,1) 7%, rgba(218,218,218,1) 100%);
}

.tile.has-background-grey-lighter {
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(242,242,242,1) 7%, rgba(218,218,218,1) 100%);
}

li a {
    color: #FC9F03;
}

a {
    font-size: 14px;
    color: #025250;
    text-decoration: none;
}

.category {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #632000;
    text-decoration: none;
}

a.flashcard-item {
    color: #025250;
}

a.page {
    color: #025250;
}

p .link {
    color: green;
}

td {
    padding: 5px 10px 5px 10px;
}

.form-group, txtarea {
    width: 250px;
}

.form-group, p {
    color: #025250;
    font-size: 13px;
}

.tabl_item {
    color: #025250;
    text-decoration: none;
}


.fcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}