{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <!--    <link rel="stylesheet" href="{% static 'css/bulma.css' %}"/>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css"/>
    {% block head %} {% endblock %}
</head>
<body>
<nav class="navbar is-spaced has-shadow is-fixed-top">
    <div class="navbar-brand">
        <a href="#">
            <figure class="image is-160x60">
                <img src="{% static 'img/cards-img2.png' %}" alt="Flash2card logo">
            </figure>
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </span>
    </div>
    <div class="navbar-center">
        dddddd
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-end"> <!--is-active-->
            <a class="navbar-item" href="{% url 'flashcards:index' %}"><span class="subtitle is-6 is-size-7-touch">Home</span></a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-1" href="#"
                   style="color: lightgrey;"><span class="subtitle is-6 is-size-7-touch">
                    Flashcards</span>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'flashcards:flashcards_list' %}">Flashcards list</a>
                    <a class="navbar-item" href="{% url 'flashcards:flashcardsets' %}">Flashcards sets list </a>
                    <hr class="navbar-divider">
                </div>
            </div>
            <a href="#" class="navbar-item" disabled><span class="subtitle is-6 is-size-7-touch" >Flashcard Manager</span></a>
            <a href="#" class="navbar-item"><span class="subtitle is-6 is-size-7-touch">Sign Up</span></a>
            <a href="#" class="navbar-item"><span class="subtitle is-6 is-size-7-touch">Log In</span></a>
        </div>
    </div>
</nav>

<section class="section">
    {% block main_content %}

    {% endblock %}
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Flash2Card</strong> by <a href="https://github.com/FLASH2CARDS/flash2cards">Przemyslaw Hinca &
            Michal Przychodzien</a>.
        </p>
    </div>
</footer>

<script type="text/javascript">

    // Get all dropdowns on the page that aren't hoverable.
    const dropdowns = document.querySelectorAll('.dropdown:not(.is-hoverable)');

    if (dropdowns.length > 0) {
// For each dropdown, add event handler to open on click.
        dropdowns.forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.stopPropagation();
                el.classList.toggle('is-active');
            });
        });

// If user clicks outside dropdown, close it.
        document.addEventListener('click', function (e) {
            closeDropdowns();
        });
    }

    /*
    * Close dropdowns by removing `is-active` class.
    */
    function closeDropdowns() {
        dropdowns.forEach(function (el) {
            el.classList.remove('is-active');
        });
    }

    // Close dropdowns if ESC pressed
    document.addEventListener('keydown', function (event) {
        let e = event || window.event;
        if (e.key === 'Esc' || e.key === 'Escape') {
            closeDropdowns();
        }
    });
</script>

</body>
</html>

