{% extends 'flashcards/base.html' %}

{% block title %}FLASHCARDS LIST{% endblock %}

{% block main_content %}
<div class="section">
    <br>
    <h4>{{ "Flashcards List" | upper }}</h4>
    <hr>
    {% if flashcards %}

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tr>
            <th><span class="category"> &#10137;{{ " Flashcard Avers" | upper }}</span></th>
            <th><span class="category">{{ " Category " | upper }}</span></th>
            <th><span class="category">{{ " Created by: " | upper }}</span></th>
        </tr>
        {% for flashcard in flashcards %}
        <div class="flashcard-in-list">
            <tr>
                <td><a href="{% url 'flashcards:flashcard_detail' flashcard.pk %}"><span class="is-size-6 is-size-7-touch tabl_item">&#10137; {{ flashcard.avers }}</span></a>
                </td>
                <td><span class="category"><a
                        href="{% url 'flashcards:category_detail' flashcard.category.pk %}"><strong  class="is-size-6 is-size-7-touch">{{ flashcard.category }}</strong></a></span>
                </td>
                <td><span class="category"> {{ flashcard.user }}  </span></td>
            </tr>

        </div>

        {% endfor %}
    </table>

    {% else %}
    Sorry. No flashacard created yet!
    {% endif %}

<br>
<hr>
{% if page_obj.has_next or page_obj.has_previous %}
<div class="page-flip">
    {% if page_obj.has_previous %}
    <a class="page" href="?page={{ page_obj.previous_page_number }}"> < << </a>
    {% endif %}

    <span class="category">  Page {{ page_obj.number }} </span>

    {% if page_obj.has_next %}
    <a class="page" href="?page={{ page_obj.next_page_number }}"> >> > </a>
    {% endif %}
</div>
<hr>
{% endif %}
</div>
{% endblock %}