{% extends 'flashcards/base.html' %}

{% block title %} Usuń fiszkę z bazy fiszek {% endblock %}

{% block main_content %}
<div class="section">
    <br>
    <h4> {{ "FLASHCARD DELETE" | upper }}</h4><br>
    <h4> You are about to DELETE: "{{ flashcard.avers }}"</h4>
    <br>
    <div class="page-flip">
        <form method="POST" novalidate>
            {% csrf_token %}
            <hr>
            <h6>After DELETE action the flashcard won't be accesible for You and other users!</h6><br>
            <button class="button is-danger is-outlined"><strong>! DELETE FLASHCARD !</strong></button>


        </form>
        <hr>
        <a href="{% url 'flashcards:flashcards' %}">
            <button class="button is-info is-outlined">Back to flashcards list</button>
        </a>
    </div>
</div>
{% endblock %}