{% extends 'flashcards/base.html' %}

{% block title %} Edycja treści fiszki {% endblock %}

{% block main_content %}
<div class="section">

    <br>
    <h4> {{ "editing the content of the flashcard" | upper }}</h4>
    <div class="notification is-warning is-light has-text-centered">{{ flashcard.avers }}</div>


    <div class="columns is-mobile is-centered">
<!--        <div class="form">-->
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="button is-small is-success is-outlined"><strong>SAVE changes</strong></button>
            </form>

            <a href="{% url 'flashcards:flashcards' %}">
                <button class="button is-small is-info is-outlined"><strong>BACK to flashcards list</strong>
                </button>
            </a>
<!--        </div>-->

    </div>
</div>
{% endblock %}


