{% extends 'flashcards/base.html' %}

{% block title %}FLASHCARD DETAILS{% endblock %}

{% block main_content %}
<div class="section">
    <br>
    <div class="box">
        <span class="tabl_item">Category: <a
                href="{% url 'flashcards:category_detail' flashcard.category.pk %}"><strong>&#10137;{{ flashcard.category }}</strong></a></span>
        <br>
        <span class="category">Created By: {{ flashcard.user }} </span><br>
        <span class="category">Last edited on: {{ flashcard.modification_date|date:"Y-m-d" }}</span>

        <hr>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="fcard">
                <div class="card-header">AVERS</div>
                <div class="card-body text-primary">
                    <p class="card-text">{{ flashcard.avers }}</p>
                </div>
            </div>
        </div>

        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="fcard">
                <div class="card-header">REVERS</div>
                <div class="card-body text-success">
                    <p class="card-text">{{ flashcard.revers }}</p>
                </div>
            </div>
        </div>
        <!--<hr>-->
        <a href="{% url 'flashcards:flashcards' %}">
            <button class="button is-small is-info is-outlined"><strong>BACK to flashcards list</strong></button>
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'flashcards:flashcard_update' flashcard.pk %}">
            <button class="button is-small is-success is-outlined"><strong>EDIT Flashcard</strong></button>
        </a>
        <a href="{% url 'flashcards:flashcard_delete' flashcard.pk %}">
            <button class="button is-small is-danger is-outlined"><span><strong>DELETE Flashcard</strong></span></button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}