{% extends 'flashcards/base.html' %}

{% block title %}SETS LIST{% endblock %}

{% block main_content %}
<div class="section">
    <br>
    <h4>{{ "Ready flashcards sets list" | upper }}</h4>
    <br>
    {% if flashcardsets %}


    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr  class="notification is-warning">
            <th><span class="category"><i class="far fa-images"></i> {{ "Flashcard Set" | upper }}</span></th>
            <th><span class="category">{{ "Category" | upper }}</span></th>
            <th><span class="category">{{ "Created By:" | upper }}</span></th>
        </tr>
        </thead>

        <tbody>
        {% for flashcardset in flashcardsets %}
        <tr>
            <td>
                <a href="{% url 'flashcards:flashcardset_detail' flashcardset.pk %}">
                    <span class="is-size-6 is-size-7-touch"><i class="far fa-images"></i> {{ flashcardset.set_name }}</span>
                </a>
            </td>
            <td>
                <a href="{% url 'flashcards:set_category_detail' flashcardset.category.pk %}">
                    <span class="is-size-6 is-size-7-touch">{{ flashcardset.category }}</span>
                </a>
            </td>
            <td><span class="category">{{ flashcardset.user }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    Sorry. No flashacards set created yet!
    {% endif %}

    <br>
    <hr>
    {% if page_obj.has_next or page_obj.has_previous %}
    <div class="page-flip">
        {% if page_obj.has_previous %}
        <a class="page" href="?page={{ page_obj.previous_page_number }}"> < << </a>
        {% endif %}

        <span class="category">  Page {{ page_obj.number }} </span>

        {% if page_obj.has_next %}
        <a class="page" href="?page={{ page_obj.next_page_number }}"> >> > </a>
        {% endif %}
    </div>
    <hr>
    {% endif %}
</div>
{% endblock %}