{% extends 'flashcards/base.html' %}

{% block title %} F2C HOME PAGE {% endblock %}

{% block main_content %}
<div class="section has-background-white-ter">
    <section class="section">
        <div class="tile is-ancestor">

            <!--###### Category selector ######-->
            <div class="tile is-6 is-parent">
                <div class="tile notification is-success is-child has-background-white-ter">
                    <span class="is-size-6 is-size-7-touch" style="color:#616161;">Select flashcards by:
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>CATEGORY</span>
                                    <span class="icon is-small"><i class="fas fa-angle-down"
                                                                   aria-hidden="true"></i></span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a class="dropdown-item">
                                        Other dropdown item
                                    </a>
                                    <a href="#" class="dropdown-item is-active">
                                        Active dropdown item
                                    </a>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <!--###### Search input ######-->
            <div class="tile is-parent">
                <div class="tile notification is-success is-child has-background-white-ter">
                    <div>
                        <form method="post" action="{% url 'flashcards:search_results'  %}">
                            {% csrf_token %}
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text"
                                           placeholder="Search by: a word, definition part, question part etc."
                                           name="searched">
                                </p>
                                <p class="control">
                                    <button class="button is-light">
                                        Search
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-8 is-vertical is-parent">

                <!--###### 7 last f-cards section ######-->
                <div class="tile is-child card">
                    <header class="card-header">
                        <div class="tile has-background-grey-lighter">
                            <p class="card-header-title">7 of lately created FLASHCARDS</p>
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="content">

                            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                <thead>
                                <tr>
                                    <th><span class="category">{{ " Flashcard Avers" | upper }}</span></th>
                                    <th><span class="category">{{ "Category " | upper }}</span></th>
                                    <th><span class="category">{{ "Created by: " | upper }}</span></th>
                                </tr>
                                </thead>
                                {% for flashcard in flashcards %}
                                <tr>
                                    <td><a href="{% url 'flashcards:flashcard_detail' flashcard.pk %}"><span
                                            class="tabl_item"><i
                                            class="far fa-sticky-note"></i> {{ flashcard.avers }}</span></a>
                                    </td>
                                    <td><span class="category"><a
                                            href="{% url 'flashcards:category_detail' flashcard.category.pk %}"><strong>{{ flashcard.category }}</strong></a></span>
                                    </td>
                                    <td><span class="category"> {{ flashcard.user }}  </span></td>
                                </tr>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <footer class="card-footer has-background-white-ter">
                        <a href="{% url 'flashcards:flashcards' %}" class="card-footer-item">... go to all flashcards
                            list</a>
                    </footer>
                </div>

                <!--###### 7 last f-cards sets section ######-->
                <div class="tile is-child card">
                    <header class="card-header">
                        <div class="tile has-background-grey-lighter">
                            <p class="card-header-title">7 of lately created FLASHCARDS SETS</p>
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <table class="table is-narrow is-striped is-hoverable  is-fullwidth">
                                <thead>
                                <tr>
                                    <th>
                                        <span class="category">
                                            <i class="far fa-images"></i> {{ "Flashcard Set" | upper }}
                                        </span>
                                    </th>
                                    <th><span class="category">{{ "Category" | upper }}</span></th>
                                    <th><span class="category">{{ "Created by:" | upper }}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for flashcardset in flashcardsets %}
                                <tr>
                                    <td><a href="{% url 'flashcards:flashcardset_detail' flashcardset.pk %}"> <span
                                            class="tabl_item"><i class="far fa-images"></i> {{ flashcardset.set_name }}</span>
                                    </a></td>
                                    <td><span class="category">
                                            <a href="{% url 'flashcards:set_category_detail' flashcardset.category.pk %}">
                                                {{ flashcardset.category }}
                                            </a>
                                    </span>
                                    </td>
                                    <td><span class="category">{{ flashcardset.user }}</span></td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <footer class="card-footer has-background-white-ter">
                        <a href="{% url 'flashcards:flashcardsets_list' %}" class="card-footer-item ">... go to all
                            flashcards sets list</a>
                    </footer>
                </div>
            </div>
            <div class="tile is-vertical is-parent">

                <!--###### Statistics ######-->
                <div class="tile is-child card">
                    <header class="card-header">
                        <div class="tile has-background-grey-lighter">
                            <p class="card-header-title">Our FLASHCARDS database statistics</p>
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p class="box is-size-7-touch">Total flashcards created:
                                <span class="has-text-weight-bold is-size-4 is-size-5-touch"> {{ cards_count }}</span>
                            </p>
                            <p class="box is-size-7-touch">Total flashcards sets created:
                                <span class="has-text-weight-bold is-size-4 is-size-5-touch"> {{ sets_count }}</span>
                            </p>
                            <p class="box is-size-7-touch">Total comments added:
                                <span class="has-text-weight-bold is-size-4 is-size-5-touch"> {{ comments_count }}</span>
                            </p>
                        </div>
                    </div>
                </div>

                <!--###### recent comments ######-->
                <div class="tile is-child card">
                    <header class="card-header">
                        <div class="tile has-background-grey-lighter">
                            <p class="card-header-title">Recently commented</p>
                        </div>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}